@import '../../styles/tokens.styl'

.rat-event-row-redacted
  background repeating-linear-gradient(45deg, transparent, transparent 6px, $rat_bg_hover 6px, $rat_bg_hover 12px)

.rat-event-redacted
  color $rat_text_muted
